<div class="container">
  <h1>Your Requests:</h1>
{{#if requests}}
<div class="columns is-multiline">
{{#each requests}}
<div class="card">
<div class="card-content">
<input type="hidden" name="id" value="{{this._id}}"/>
<div class="allListingsName">
  <h1 class="title is-4">{{this.requirement}}</h1>
</div>
<hr>
  <p><b>Category:</b> {{this.category}}</p>
  <p>{{this.message}}</p>
  <p><b>Requested:</b> {{this.newTime}}</p>
</div>
<footer class="card-footer">
<a class="card-footer-item allListings-delete-btn">Delete</a>
</footer>
</div>
{{/each}}
</div>
{{else}}
<h1>You have not made any requets</h1>
{{/if}}
</div>

<div class="modal" id="confDelete">
  <div class="modal-background"></div>
  <div class="modal-card">
    <input type="hidden" name="chosenId"/>
    <header class="modal-card-head">
      <p class="modal-card-title">Delete Request</p>
      <button class="delete" aria-label="close" id="closeCommentForm"></button>
    </header>
    <section class="modal-card-body">
      <h6>Are you sure you want to delete this request?</h6>
    </section>
    <footer class="modal-card-foot">
      <button class="button" id="cancel">Cancel</button>
      <button class="button is-danger" id="delete">Delete</button>
    </footer>
  </div>
</div>
