<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="icon" href="/favicon.ico" />
</head>
<body>


  <nav class="navbar is-light" style="padding-bottom: 15px;">
    <div class="navber-brand">
      <a class="navbar-item title" href="/">Goldy Shoppy!</a>

      <button class="button navbar-burger" data-target="popo">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="popo" class="navbar-menu">
      <div class="navbar-end">
        {{#if user}}

        <a href="/postListing"  style="margin: auto;"><button class="button is-success">Post Listing</button></a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" id="drop">
            <span class="navbar-item">
              <figure class="image is-16x16">
                <img src="{{ user.picture }}" alt="Image">
              </figure>
              &nbsp;
              {{ user.displayName }}
            </span>
          </a>

          <div class="navbar-dropdown">
            <a href="/user/allRequests" class="navbar-item">
              Requests
            </a>
            <a href="/user/allListings" class="navbar-item">
              Listings
            </a>
            <a href="/user/editProfile" class="navbar-item">
              Edit Profile
            </a>
            <hr class="navbar-divider">
            <div>
              <a class="navbar-item" href="/logout">Sign Out</a>
            </div>
          </div>
        </div>

        {{else}}
          <a class="button is-success navbar-item" style="margin: auto;margin-right: 15px;color: white;" href="/login">Sign In</a>
        {{/if}}
      </div>
    </div>
  </div>
</nav>
<section class="section">
  <div class="content">
    {{{body}}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
  </div>
</section>


<!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATTpBUEZi5-hU-cCTlzAbThG0sVFszouU&callback=initMap"></script> -->
{{#each scripts}}
<script src="/javascripts/{{this}}"></script>
{{/each}}
<script>
document.addEventListener('DOMContentLoaded', function () {

  // Get all "navbar-burger" elements
  var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

  // Check if there are any navbar burgers
  if ($navbarBurgers.length > 0) {

    // Add a click event on each of them
    $navbarBurgers.forEach(function ($el) {
      $el.addEventListener('click', function () {

        // Get the target from the "data-target" attribute
        var target = $el.dataset.target;
        var $target = document.getElementById(target);

        // Toggle the class on both the "navbar-burger" and the "navbar-menu"
        $el.classList.toggle('is-active');
        $target.classList.toggle('is-active');

      });
    });
  }

});
</script>
</body>
</html>
